@import url("components/banners.css");
@import url("components/buttons.css");
.hey {
  margin: 0 auto;
}

.journey {
  text-align: center;
  margin: 52px 0;
  font-family: monospace;
}

.row-img {
  text-align: right;
}

.row-text p {
  margin-bottom: 16px;
}
